body {
  height: 100vh;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--pale-blue);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  align-items: center;

  #outer {
    width: 70vw;

    #inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      #one,
      #two {
        background-color: var(--dark-blue);
        padding: 2rem;
      }

      #one {
        border-radius: 0.5rem 45% 0.5rem 0.5rem;

        #logo {
          display: block;
          margin-bottom: 2rem;
        }

        img:not(#logo) {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          object-fit: contain;
          border-radius: 0.5rem;
          padding: 0.5rem;
          background-color: var(--very-dark-blue);

          & + img,
          &:nth-of-type(2) {
            margin-right: 1rem;
          }
        }
      }

      #two {
        border-radius: 0.5rem;
        position: relative;
        padding-bottom: 5rem;
        #sign {
          width: 100%;
          height: 1.2rem;
          //padding: 0.4rem;
          background-color: lighten(hsl(229, 57%, 11%), 7%);
          border-radius: 5rem;
          margin-top: 0.6rem;
          position: relative;

          span {
            width: 80%;
            border: 3px solid lighten(hsl(229, 57%, 11%), 7%);
            display: inline-block;
            height: inherit;
            border-radius: 5rem;
            background-image: linear-gradient(
              to right,
              hsl(6, 100%, 80%),
              hsl(335, 100%, 65%)
            );
            position: absolute;

            &::after {
              content: "";
              position: absolute;
              z-index: 1;
              left: 95%;
              border-radius: 50%;
              width: 0.8rem;
              height: 0.8rem;
              background-color: white;
            }
          }

          &::before {
            content: "0GB";
            position: absolute;
            left: 0;
            bottom: -1.5rem;
          }

          &::after {
            content: "1000GB";
            position: absolute;
            right: 0;
            bottom: -1.5rem;
          }
        }

        &::before {
          content: "GB Left";
          color: var(--grayish-blue);
          width: max-content;
          height: max-content;
          position: absolute;
          z-index: 2;
          left: 128px;
          top: 9.5rem;
          font-weight: bold;
          font-size: clamp(0.5rem, 0.8rem, 1rem);
        }

        &:after {
          content: "185";
          position: absolute;
          z-index: 1;
          left: 54px;
          top: 8rem;
          width: calc(100% - 128px);
          height: 4rem;
          border-radius: 0.5rem;
          color: var(--very-dark-blue);
          font-size: clamp(1.5rem, 1.8rem, 2rem);
          padding-left: 1rem;
          background-color: var(--pale-blue);
          font-weight: 700;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 530px) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-color: var(--very-dark-blue);
    background-repeat: no-repeat;
    background-position: 0rem 100%;
    background-size: contain;
    #outer {
      height: 15rem;
      #inner {
        flex-direction: row;
        #one {
          border-radius: 0.5rem 45% 0.5rem 0.5rem;
          flex: 35%;
          height: 85%;
          align-self: flex-end;
        }

        #two {
          flex: 65%;
          height: 60%;
          align-self: flex-end;

          &::before {
            left: 75%;
            top: -1rem;
          }

          &::after {
            left: 60%;
            top: -2.5rem;
            max-width: 10rem;
            height: 4rem;
          }

          #shape {
            width: 1.5rem;
            height: 1.5rem;
            background-color: var(--pale-blue);
            transform: rotate(180deg);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
            position: absolute;
            top: 0.99rem;
            left: 80%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 530px) and (max-width: 850px) {
  body {
    #outer {
      #inner {
        #two {
          &::before {
            left: 85%;
          }
        }
      }
    }
  }
}
